criar essa tabela em Python

In [ ]:
import sqlite3 as conector

 try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

   # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Pessoa (
                     cpf INTEGER NOT NULL,
                     nome TEXT NOT NULL,
                     nascimento DATE NOT NULL,
                     oculos BOOLEAN NOT NULL,
                     PRIMARY KEY (cpf)
                     );'''

     cursor.execute(comando)

     # Efetivação do comando
     conexao.commit()

  except conector.DatabaseError as err:
     print("Erro de banco de dados", err)

  finally:
     # Fechamento das conexões
     if conexao:
         cursor.close()
         conexao.close()

 criar essa tabela em Python de veiculo

In [ ]:
import sqlite3 as conector

 # Abertura de conexão e aquisição de cursor
 conexao = conector.connect("./meu_banco.db")
 cursor = conexao.cursor()

 # Execução de um comando: SELECT... CREATE ...
 comando1 = '''DROP TABLE Veiculo;'''

 cursor.execute(comando1)

 comando2 = '''CREATE TABLE Veiculo (
               placa CHARACTER(7) NOT NULL,
                ano INTEGER NOT NULL,
               cor TEXT NOT NULL,
                motor REAL NOT NULL,
               proprietario INTEGER NOT NULL,
                marca INTEGER NOT NULL,
               PRIMARY KEY (placa),
                FOREIGN KEY(proprietario) REFERENCES Pessoa(cpf),
               FOREIGN KEY(marca) REFERENCES Marca(id)
                );'''

 cursor.execute(comando2)

 # Efetivação do comando
 conexao.commit()

 # Fechamento das conexões
 cursor.close()
 conexao.close()

In [ ]:
 import sqlite3 as conector
  from modelo import Pessoa

  # Abertura de conexão e aquisição de cursor
  conexao = conector.connect("./meu_banco.db")
  cursor = conexao.cursor()

  # Criação de um objeto do tipo Pessoa
  pessoa = Pessoa(20000000099, 'José', '1990-02-28', False)

   # Definição de um comando com query parameter
   comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos)
                     VALUES (:cpf,:nome,:data_nascimento,:usa_oculos);'''
   cursor.execute(comando, {"cpf": pessoa.cpf,
                           "nome": pessoa.nome,
                           "data_nascimento": pessoa.data_nascimento,
                           "usa_oculos": pessoa.usa_oculos})

   # Efetivação do comando
   conexao.commit()

   # Fechamento das conexões
   cursor.close()
   conexao.close()

consulta para retornar às pessoas que usam óculos

In [ ]:
import sqlite3 as conector
 from modelo import Pessoa
 # Abertura de conexão e aquisição de cursor
 conexao = conector.connect("./meu_banco.db")
 cursor = conexao.cursor()

 # Definição dos comandos
 comando = '''SELECT * FROM Pessoa WHERE oculos=:usa_oculos;'''
 cursor.execute(comando, {"usa_oculos": True})

 # Recuperação dos registros
 registros = cursor.fetchall()
 for registro in registros:
      pessoa = Pessoa(*registro)
      print("cpf:", type(pessoa.cpf), pessoa.cpf)
      print("nome:", type(pessoa.nome), pessoa.nome)
      print("nascimento:", type(pessoa.data_nascimento), pessoa.data_nascimento)
      print("oculos:", type(pessoa.usa_oculos), pessoa.usa_oculos)

 # Fechamento das conexões
 cursor.close()
 conexao.close()

Conectar ao banco de dados

import sqlite3

def conectar_banco(nome_banco):
    conexao = sqlite3.connect(nome_banco)
    return conexao

def criar_tabelas(conexao):
    cursor = conexao.cursor()
   
    cursor.execute('''CREATE TABLE IF NOT EXISTS Produtos (
                      id INTEGER PRIMARY KEY AUTOINCREMENT,
                      nome TEXT NOT NULL,
                      preco REAL NOT NULL,
                      estoque INTEGER NOT NULL)''')
   
    cursor.execute('''CREATE TABLE IF NOT EXISTS Clientes (
                      id INTEGER PRIMARY KEY AUTOINCREMENT,
                      nome TEXT NOT NULL,
                      email TEXT NOT NULL)''')
   
    cursor.execute('''CREATE TABLE IF NOT EXISTS Pedidos (
                      id INTEGER PRIMARY KEY AUTOINCREMENT,
                      cliente_id INTEGER NOT NULL,
                      produto_id INTEGER NOT NULL,
                      quantidade INTEGER NOT NULL,
                      data_pedido TEXT NOT NULL,
                      FOREIGN KEY (cliente_id) REFERENCES Clientes(id),
                      FOREIGN KEY (produto_id) REFERENCES Produtos(id))''')
   
    conexao.commit()

inserir dados na tabela e ativar funçoes

In [ ]:
def inserir_dados(conexao):
    cursor = conexao.cursor()

    produtos = [('Notebook', 2999.99, 10),
                ('Smartphone', 1999.99, 20),
                ('Tablet', 999.99, 30)]

    clientes = [('Alice', 'alice@example.com'),
                ('Bob', 'bob@example.com'),
                ('Charlie', 'charlie@example.com')]

    pedidos = [(1, 1, 2, '2023-06-15'),
               (2, 2, 1, '2023-06-16'),
               (3, 3, 3, '2023-06-17')]

    cursor.executemany('INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)', produtos)
    cursor.executemany('INSERT INTO Clientes (nome, email) VALUES (?, ?)', clientes)
    cursor.executemany('INSERT INTO Pedidos (cliente_id, produto_id, quantidade, data_pedido) VALUES (?, ?, ?, ?)', pedidos)

    conexao.commit()

if __name__ == '__main__':
    conexao = conectar_banco('ecommerce.db')
    criar_tabelas(conexao)
    inserir_dados(conexao)
    conexao.close()